<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Adam's Page</title>
    <meta name="description" content="Roughly 155 characters">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <!-- Content -->
    <h1 align = "center">Adam Rogers</h1>
    
    <img class = "center" src="IMG-8521.JPG" alt="description" width="290" height="262" /></div>
    
    <div align = "center">
    	<h3>About me:</h3>
    	<ul>
			<li>Rising senior</li>
			<li>COSI major</li>
			<li>Ultimate Frisbee on Tron</li>
		</ul>
    </div>
  </body>
</html>